{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} | Comments
{% endblock %}

{% block root %}
    <div id="root" data-storyid="{{ storyId }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/comments.js') }}"></script>
{% endblock %}
